<!DOCTYPE html>
<html>
<head>

</head>

<body>
    {{>header}}
    <p>Author's name is: {{name}}</p>
    <p>Company is: {{company}}</p>
    <p>Age: {{age}}</p>
    {{>footer}}
    
</body>




</html>